<br> Create three new components: GameControl, Odd and Even
<br>The GameControl Component should have buttons to start and stop the game
<br>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())
<br>The event should be listenable from outside the component
<br>When stopping the game, no more events should get emitted (clearInterval(ref))
<br>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even
numbers)
<br>Simply output Odd - NUMBER or Even - NUMBER in the two components
<br>Style the element (e.g. paragraph) holding your output text differently in both components

<div class="row">
  <div class="col-xs-12">
    <game-control (intervalFired)="OnIntervalFired($event)"></game-control>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <td colspan=2>
    </td>
    <td >
      <odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></odd>
    </td>
    <td>
      <even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></even>
    </td>
  </table>
</div>

